[2020-03-25 17:33] epixian opened #2 "underscores galore"
After the latest Tailwind UI components update, the crawler has produced files with a ton of underscores left and right of the template name.  A snippet of the output is below.

[code]
As a result, there's nothing to diff against as the filenames are different.

[2020-03-25 18:16] kiliman commented on #2
Have you installed the latest update v1.1? It strips the leading and trailing spaces. It also adds the tailwind.css file so you can view the component in the browser.

If you just want to remove the excess underscores, then simply update index.js like this:

[code]

[2020-03-25 19:36] epixian commented on #2
i cloned the latest update, which fixes the issue.  also noticed you added an OUTPUT option to the .env - awesome!  thanks~

[2020-03-25 19:36] #2 closed

[2020-03-30 19:35] darsenault opened #3 "Craweler not fetching all available components"
Thank you for developing this tool! Great idea and work for sure.

I noticed that the crawler is not pulling all available snippets/components.

[code]

There are 3 snippets not just 1:

![image](https://user-images.githubusercontent.com/963874/77953933-de1a8a00-729b-11ea-9e9e-79aebffb805c.png)

Thank you.

[2020-03-30 20:16] kiliman commented on #3
Did you add your username and password to the .env file? When I see only 1 component, that typically means it failed authentication and is simply showing the free "preview" page which is very limited.

[2020-03-31 02:31] darsenault commented on #3
I did create the .env. But, it appears I had a typo from a bad copy/paste. Recreating the file indeed fixed the problem. Your crawler works beautifully. My apologies for the bother. Thank you!

[2020-03-31 02:31] #3 closed

[2020-04-07 18:02] stevecastaneda opened #5 "Optionally parse HTML to create React-ready output"
I've integrated @robinmalfait's React find/replace tool for TUI code.

https://gist.github.com/RobinMalfait/a90e8651196c273dfa51eec0f43e1676

Would you be interested in a PR to merge this?  I've added an env variable to enable it, and it's still optional in `index.js`.

[2020-04-07 19:37] kiliman commented on #5
Ha. Were going to have a whole community around building tools for Tailwind UI.

I've actually working on a `transformer` process which allows you to plug in different functions in the pipeline. This way you can simply add a new exported function and the crawler will call it with the current HTML and you return the updated HTML which is piped to the next transformer.

Once I push that, feel free t

[2020-04-07 19:40] stevecastaneda commented on #5
Nice!  Sounds like a plan.  Will watch for the next release.

[2020-04-08 15:45] kiliman commented on #5
Here are some example transformers. I use the [cheeriojs](https://github.com/cheeriojs/cheerio) library that gives you a jQuery like API.

[code]

[code]

[2020-04-08 16:21] kiliman commented on #5
Ok, so I have transformer pipeline working pretty well. Now the main decision is how to add them to your config.

Currently, I just added it to the `.env` files as another key/value pair (with the values being comma-delimited list of transformers).

[code]

I want to create a transformer that allows you to add a prefix to the class names. However, that will require you to configure the prefix name

[2020-04-08 17:06] kiliman commented on #5
So I created a transformer from that gist and it generated the following:

[code]

Pretty cool.

[2020-04-08 17:44] stevecastaneda commented on #5
Yup, that's it!  But you might want to remove the code due to licensing restrictions.

No preference on how to set the options for the output, personally.

[2020-04-08 19:19] kiliman commented on #5
Not sure about the `<pattern />`... could be a side-effect of the cheerio HTML serialization.

[2020-04-09 14:31] kiliman commented on #5
Just about finished with my transformer pipeline. I had to patch cheerios serializer to more closely match the HTML in TailwindUI so you wouldn't get a bunch of spurious changes.

Anyway, I looked into `<pattern id="..."/>` and it turns out it's in the original TUI code.

![image](https://user-images.githubusercontent.com/47168/78906241-17e25200-7a4d-11ea-9d0c-c3a56f606643.png)

[2020-04-10 17:59] kiliman commented on #5
v2.0 has been pushed with support for `convertReact` transformer.

[2020-04-10 17:59] #5 closed

[2020-04-11 13:44] m1guelpf opened #6 "Vue Transformer"
See #7

[2020-04-11 15:51] #6 closed

[2020-04-16 18:11] tanthammar opened #9 "Just want to say Thank YOU!!!!!"
Saves a lot of time. Thank you for making this package.

[2020-04-16 18:19] vladdu opened #10 "index.html links are absolute (2.3)"
This makes it hard to just browse the files, a server is needed...

[2020-04-16 18:32] kiliman commented on #10
That's why I recommend using the `serve` package.

[code]

Run `serve` from the root of your OUTPUT folder (where index.html is located).

![image](https://user-images.githubusercontent.com/47168/79492996-d6264e00-7fee-11ea-89a8-c7ca3ef83162.png)

![image](https://user-images.githubusercontent.com/47168/79493079-f35b1c80-7fee-11ea-82aa-47fc474e2727.png)

![image](https://user-images.githubusercont

[2020-04-16 19:25] vladdu commented on #10
I saw that afterwards, but it still doesn't work. I needed to use "yarn global add serve" and manually add ~/.yarn/bin to $PATH. After that, the components are shown completely unstyled.

![Annotation 2020-04-16 212123](https://user-images.githubusercontent.com/9707/79497875-bad83480-8028-11ea-832d-cbfedaf30b14.png)

I realize that using relative links makes things a bit more complicated and proba

[2020-04-16 19:32] vladdu commented on #10
Hmm, ok, so I needed addTailwindCss: it isn't clear what that option does: add a link where? I thought initially it's only a link to their site.

[2020-04-17 13:08] kiliman commented on #10
Sorry, the `addTailwindCss` transformer adds the following to each component HTML file. If you want to use the Inter font (the same as on the tailwindui.com site), add the `userInter` transformer.

[code]

[2020-04-17 13:10] kiliman commented on #10
Also, you may want to upgrade to v2.3. The component code no longer includes the Alpine.js markup, so it won't be interactive on your local copy. The update adds an option to ensure that it gets the the version with Alpine.

[2020-04-17 13:22] vladdu commented on #10
Thanks. I created a PR to make it clear how to have styled components when served via serve

[2020-04-17 13:22] #10 closed

[2020-04-18 04:53] connecteev opened #12 "Download all tailwindui.com images locally"
Thank you for this amazing repo, huge time saver!

One quick suggestion: It would be great it we could add an option to download all tailwindui.com images locally so there are no dependencies.

Perhaps this could be a .env file setting like
```IMAGES_OUTPUT=$OUTPUT/images```

Thoughts?!

[2020-04-18 04:57] connecteev opened #13 "Show component images on the Index.html page"
Another one (nice to have) that builds on #12

It would be nice if we could download and show component images on the Index.html page (like the tailwindui.com index page). That would make it easy to (visually) tell what each component is about.

Examples:
https://tailwindui.com/img/category-thumbnails/sections-heroes.svg
https://tailwindui.com/img/category-thumbnails/sections-pricing.svg
etc

Than

[2020-04-18 05:09] connecteev opened #14 "Add .env.example file with all possible config options"
This is not an issue for me but thought I'd log it anyway! Adding a .env.example file with all possible config options would make it easier for new users.
It would be nice to have:
- everything pre-configured with defaults (we would leave out the username and password of course!)
- options in the .env.example file commented (like you have on the main github page)

As an aside, only through trial a

[2020-04-18 05:13] connecteev commented on #9
Couldn't agree more - amazing work on this repo!

[2020-04-18 05:17] connecteev opened #15 "Integrate with vue-tailwind-prefix-applicator to customize the tailwind prefix"
This is not my idea and it sounds like you've already got the integration with vue-tailwind-prefix-applicator working:
https://github.com/vesper8/vue-tailwind-prefix-applicator/issues/1

Can't wait to have this functionality become available so I can add a prefix to the components automatically. I imagine this will be another transformer and .env configuration option?
Once again thank you!

[2020-04-18 05:30] connecteev opened #16 "Use local build / tailwind and postcss config file instead of CDN"
After I run ```serve``` from within the output directory, everything magically works!

As a suggestion, I don't see a tailwind config file anywhere...and it definitely seems like that is the recommended option:
https://tailwindui.com/documentation#add-the-tailwindcss-ui-plugin
https://tailwindui.com/documentation#update-your-purgecss-configuration

Would it be possible to get this working with a l

[2020-04-18 08:46] connecteev opened #17 "Some components' pages dont match tailwind UI"
After installing and running the tailwindui-crawler, some components' pages dont match those of tailwindui. For example:
http://localhost:5000/components/application-ui/data-display/description-lists
Looks very different from
https://tailwindui.com/components/application-ui/data-display/description-lists

[2020-04-18 12:55] kiliman commented on #13
I agree, and I had considered doing that. My concern is that I didn't want to simply "copy" their website. I used the markup (which was similar to what they had in the app shell components), but did not use their images or javascript (for the resizer component).

I suppose I can reach out to Adam and Steve and get permission to use those images.

Thanks for the feedback.

[2020-04-18 12:58] kiliman commented on #14
Thanks. I try to make the documentation as accessible as possible, but sometimes I take some things for granted. I will make those changes.

As for the index page, I output mine to a separate folder outside of the tailwindui-crawler project, so I already had to change directories, so I guess I didn't think of that.

[2020-04-18 13:00] kiliman commented on #15
Yes, I already have the transformer working locally. I hope to push it later today.

[2020-04-18 13:07] kiliman commented on #16
Yes, the index page was kind of a last minute addition based on a comment in the discord chat. I simply wanted to be able to view the components locally, especially as a quick way to verify that the crawler and transformer worked properly.

The local config will need to be supported in order to fully support tailwind prefixes #15 anyway.

Now that most of the transformers have been built, I can st

[2020-04-18 13:13] kiliman commented on #17
Hmm. Can you send me a screenshot? Here's my local version. Are you on the latest version 2.3? What `HTMLMODE` are you using: alpine or comments? The alpine version is literally the copy used in the `<iframe>` preview.

![image](https://user-images.githubusercontent.com/47168/79638617-7649b780-8154-11ea-9fa8-f65fcb883528.png)

[2020-04-18 13:14] kiliman commented on #9
@connecteev thanks for all the feedback. I'm so glad it's been useful to you.

[2020-04-18 16:32] connecteev commented on #9
@kiliman thanks for the encouragement - really, all credit goes to you for the work you've done and I appreciate you listening for feedback.

[2020-04-18 16:36] connecteev commented on #13
@kiliman of course, happy to share ideas. I mean, in a way, we've already copied the website...thats what scraping is, after all. You're not doing anything illegal because I've seen the TOS and you're not making the work accessible to anyone that hasnt paid for it, but I guess doesn't hurt to check with them.

[2020-04-18 16:38] connecteev commented on #14
Your documentation is already amazing. These are simply (small) suggestions for improvement to make it even easier for people new to the repo! Again, thank you!

[2020-04-18 16:44] connecteev commented on #16
Agreed. Look forward to the push for local builds / configs with tailwindcss and postcss/purgecss (and tailwind prefix support!)

Btw even if the private git repo becomes available, I think the work you've done here is of a lot of value to track changes to the tailwindui components and save time getting the components locally.

[2020-04-18 16:48] kiliman commented on #16
Can you post an example config so I can make sure it supports it? Right now, if you add the `addTailwindCss` transformer, it will add a link to the stylesheet on the CDN. For custom/prefixed CSS, we'll need to add an option to specify the URL relative to OUTPUT. Anything else you can think of?

I'm relatively new to Tailwind, so still learning how to do all the configuration stuff.

[2020-04-18 17:57] connecteev commented on #17
@kiliman Absolutely! First off, looks like the container divs, etc are being stripped out, so this is not a huge issue.

This is what I am seeing:
https://www.webpagescreenshot.info/#v2=pQsjt0GR4
And this is what I should be seeing (from the tailwindUI website):
https://www.webpagescreenshot.info/#v2=kEBCgWZZG

Yes, I am using 2.3, I discovered your repo yesterday and am using the latest version.

[2020-04-18 18:11] connecteev commented on #16
@kiliman Yes! I am using the addTailwindCss TRANSFORMER. This is my .env config:
[code]

And this is a simplified tailwind config from a different project (that I need to integrate tailwind UI into). ```
// See default config https://github.com/tailwindcss/tailwindcss/blob/master/stubs/defaultConfig.stub.js
const defaultTheme = require('tailwindcss/defaultTheme')
// const { colors } = require('tai

[2020-04-18 19:53] kiliman commented on #17
When Tailwind UI first came out, the code included the Apline.js markup to support interactivity. So when you click on menu buttons, it would pop up, etc.

A lot of people were complaining because they had to remove that code when converting to React, etc. So Adam updated the site so the Code button showed the non-Alpine version with HTML comments showing what you should do for events/transitions.

[2020-04-18 20:01] #14 closed

[2020-04-18 20:01] #15 closed

[2020-04-19 01:15] connecteev commented on #17
@kiliman yes, this does answer the question. Thanks!
I'll let you decide whether it makes sense to close this or leave open...since you have more knowledge about this than I do.

[2020-04-19 01:26] connecteev opened #18 "Components dont get rendered if you use prefixClasses for tailwind prefix replacement"
@kiliman I just tested #15 out, and the prefix replacement works beautifully. Really neat, and this will save a good chunk of time as well, so I no longer have to manually do it using
https://github.vue.tailwind-prefix.cbass.dev/

There is a problem, though. Without #16, this is what happens:
https://www.webpagescreenshot.info/#v2=4CUgNYg52

Here's my env file:
[code]
And this is what gets output

[2020-04-19 01:49] kiliman commented on #18
That's why I mentioned that you should use the `ADDTAILWINDCSS_URL=/custom.css` setting. Copy your custom css file to the root of the OUTPUT. The preview will now load your custom CSS instead of the CDN version.

[2020-04-19 01:54] kiliman commented on #18
Actually just noticed a bug, so going to push a hotfix.

[2020-04-19 01:57] kiliman commented on #18
Ok, fixed in 2.4.1. Set the URL for your tailwind css and it should show up in your preview.

[2020-04-19 02:00] kiliman commented on #18
It should look something like this

![image](https://user-images.githubusercontent.com/47168/79677489-fa855480-81bf-11ea-9946-87ee1961c361.png)

[2020-04-19 02:01] kiliman commented on #18
Fixed in d30857f90e09fbf67b3a6869f87831dd466baaf1

[2020-04-19 02:01] #18 closed

[2020-04-19 02:11] connecteev commented on #18
@kiliman thanks for the quick response! I did a git pull right now, so my code is up to date.
Running this again with these settings doesnt work. My tailwind.config.css doesnt get created so I am still seeing the same thing.

[code]
I also tried with ADDTAILWINDCSS_URL=./tailwind.config.css but I had no luck.

As an aside, why do we need ADDTAILWINDCSS_URL at all? If PREFIXCLASSES_PREFIX is specif

[2020-04-19 02:19] kiliman commented on #18
It doesn't generate the css. You need to generate it then copy the css to the OUTPUT folder. Eventually I will support generating from the config file.

[2020-04-19 02:33] connecteev commented on #18
I see...makes sense. I manually created the file, but I noticed that it still doesnt work.

[code]

This is from the index.html file, it looks like it's not referencing the local file:

    <link href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css" rel="stylesheet"/>

[2020-04-19 02:36] connecteev commented on #18
Ok I think I see what is happening here. It does reference the local file from withinthe components, just not the index file.

Also, the local file needs to be the *final tailwind css file*, and *not* the config file...

[2020-04-19 03:50] connecteev commented on #18
@kiliman Ok I found some bugs here, which explain why I was seeing the problem:

Based on my .env file above:

-  Problem 1:
This will not work:
[code]
and will generate a URL like this:
http://localhost:5000/components/marketing/sections/tailwindui_output/tailwind.css

It **has** to be in this format:
[code]

- Enhancement 2:
It would be nice to auto-generate the tailwind.css file at this locatio

[2020-04-19 14:15] #17 closed

[2020-04-19 15:25] kiliman commented on #18
Yes, that's not really a bug.

1) The `ADDTAILWINDCSS_URL` must be a URL (either absolute or relative to the root). The default is https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css. `addTailwindCss` adds `<link href="{url}"/>` to all the component pages. So if you want to use your custom CSS, then you need to copy that somewhere in the OUTPUT folder and set the URL relat

[2020-04-19 16:19] connecteev commented on #18
@kiliman thanks for the clarifications. It makes total sense. #16 would be nice and I hope to see that implemented soon!

[2020-04-19 16:25] vesper8 commented on #18
@kiliman I don't know if it's something I've done wrong but I have applied the new prefixClasses converter and it works on the html (tw- gets prefixed to all classes) however it has no effect on the vueOutput when using the convertVue converter.. that output is generated without the prefixes

[2020-04-19 16:33] vesper8 opened #19 "[Feature Request] Convert transitions when generating vue components"
This is a feature request to handle transition comment blocks when generating vue components

So this:

[code]

Would become this:

[code]

Basically this would entail converting the comment block to a transiton tag, and then figuring out the next child below the block and adding a closing transition tag on the other end of that immediate children tag

If this is too complicated, then at least rep

[2020-04-19 17:20] kiliman commented on #18
The order of the transformers is important. Make sure `prefixClasses` comes before `convertVue`. The output of one becomes the input of the next.

[2020-04-19 19:39] vesper8 commented on #18
Oh I see! If that's mentioned in the docs I must have missed it. A small enhancement would be to have the converters that generate the output to default to the end of the chain. Thanks for the answer! Really loving this tool!

[2020-04-19 20:32] connecteev commented on #18
Agreed, I am living for this tool!

[2020-04-20 05:00] connecteev opened #20 "No prefixes are added for space-y-* and space-x-*"
See the "Avatar group stacked bottom to top" component at http://localhost:5000/components/application-ui/elements/avatars

Notice that no prefixes are added for: space-y-6 sm:space-y-0

[code]

This probably also is an issue with https://github.com/vesper8/vue-tailwind-prefix-applicator/

[2020-04-20 12:47] kiliman commented on #20
Right now, the `prefixClasses` transformer uses a static list of tailwind classes. I need to update it. When I add #16, it can generate this list directly from your CSS.

[2020-04-20 12:49] kiliman commented on #19
Instead of trying to parse the HTML comments, I'll probably convert the alpine code. I've already started on a simple converter.

[2020-04-20 15:22] connecteev commented on #20
@kiliman makes sense, thanks for clarifying!

[2020-04-20 15:40] kiliman commented on #20
As a workaround, you can edit the files `transformers/prefixClasses/tailwind-classes.js` and add in the `space-*` classes (probably just copy the padding or margin classes and do a find+replace).

Then re-run the crawler.

[2020-04-20 15:52] connecteev commented on #20
@kiliman Interesting...I dont see any space-* classes defined on
https://tailwindcss.com/docs
OR even in the main tailwindcss source file:
https://unpkg.com/tailwindcss@1.2.0/dist/tailwind.css

Maybe this isn't a bug after all?
So then where are these classes coming from after running the crawler?
I do see them in the iframe (view source of https://tailwindui.com/components/application-ui/elements

[2020-04-20 15:58] kiliman commented on #20
Actually, I believe it's a new feature that Adam is working on.

https://twitter.com/adamwathan/status/1250582286803795969

[2020-04-20 16:02] connecteev commented on #20
Interesting, so space-y and divide-y are possibilities. What about space-x and divide-x? And all the color variants of divide- as in the tweet?
Maybe we should wait until this new feature gets defined  😆

[2020-04-20 16:19] kiliman commented on #20
Yeah, those `space*` classes are still not part of the default Tailwind UI. He's including it in the preview version which includes some wrappers for preview only. If you look at the Code version on the website, you'll see that the avatar components don't include the wrapper. So it's not an issue for now, but I'll make sure that the class list is kept up to date.

![image](https://user-images.gith

[2020-04-20 16:26] connecteev commented on #20
Makes sense...I'm amazed at how well-informed you are.

[2020-04-21 01:11] connecteev commented on #20
@kiliman 1.3.0 was just released https://github.com/tailwindcss/tailwindcss/releases/tag/v1.3.0

[2020-04-21 21:38] kiliman commented on #16
The crawler now generates the .css file from the config. I then extract all the class names so I can add the prefix to the Tailwind UI components.

If you have a prefix defined in your config, I have to generate the .css file twice. Once with and once without the prefix. I use the non-prefix version to generate the class names to search in the Tailwind UI HTML files. The prefixed/generated CSS wil

[2020-04-21 23:37] connecteev commented on #16
@kiliman thats great, thanks for the update. Look forward to seeing this done!
Btw I figured out the tailwind+postcss config (this is using nuxt.js)

tailwind.config.js:
[code]

nuxt.config.js (contains the postcss config)
[code]

[2020-04-22 20:45] connecteev opened #22 "Latest version of crawler broken"
After a fresh git pull, this is what I see:

$ yarn start
yarn run v1.22.0
$ node index.js
🔐  Logging into tailwindui.com...
✅  Success!

🗂   Output is ../tailwindui_output
⏳  Processing /components/marketing/sections/heroes...
‼️   /TAILWINDUI/tailwindui_crawler_kiliman/crawler/transformers/prefixClasses/tailwind-classes.js:2
export default {
^^^^^^
SyntaxError: Unexpected token 'export'
    at w

[2020-04-22 21:34] #22 closed

[2020-04-22 21:35] kiliman commented on #22
Sorry. Merged in a PR without testing it. The syntax works fine for the browser, but not for node.js.

Anyway, this is fixed.

[2020-04-22 21:49] connecteev commented on #22
Verified this works now. Thanks for the quick update!

[2020-04-25 09:08] farzd commented on #9
thank you sir

[2020-04-25 14:37] GregBrimble opened #23 "GitHub Action"
Hello! Thank you for creating this excellent tool. It has already saved me many hours!

I have created [a GitHub Action](https://github.com/marketplace/actions/crawl-tailwind-ui) to automatically run this project, and push the output to a GitHub repo. This allows users to maintain a git version controlled copy of all the components, and for it to keep itself up-to-date.

It also supports the `.env

[2020-04-25 15:06] kiliman commented on #23
Awesome. I'm glad you are finding it useful. If you want to add it to the README, send me a PR and I'll merge it.

I'm lazy so I'm always looking for ways to automate repetitive tasks.

I've been working on a workflow for keeping track of my custom React components. Basically I add a comment to my component with the commit hash of the original file. Then when I get the latest updates, I have a scr

[2020-04-25 15:44] GregBrimble commented on #23
I'll get that PR in shortly.

I'm in the same boat. But with this action automatically updating a repo for you, you can just setup [GitHub Notifications](https://help.github.com/en/github/administering-a-repository/about-email-notifications-for-pushes-to-your-repository#enabling-email-notifications-for-pushes-to-your-repository) to be emailed on every change 🎉

I also have planned [a feature to cr

[2020-04-25 16:46] #23 closed

[2020-05-01 21:22] vesper8 commented on #20
I just submitted a PR with the new classes from 1.4 (and some that were missing from 1.3)

[2020-05-01 21:26] kiliman commented on #20
Once I finish #16 and generate the CSS from the tailwind config, we can also generate the class list for the prefix transformer at build time. This way it's as current as their config is.

[2020-05-01 21:54] vesper8 commented on #20
Currently, the way I extract the list of all possible tailwind classes is by manually downloading https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.css and https://unpkg.com/tailwindcss@%5E1.0/dist/tailwind.css and then manually editing each of those files to remove the normalize.css as well as a few other things. And then I feed it to my PHP extractor file which cleans out a wh

[2020-05-01 22:04] kiliman commented on #20
I basically converted your PHP code into JavaScript. So if there is a tailwind.config.js file, there would be a build phase, where it generates the full CSS. Then if the transformers include the prefixTransformer, the extract phase would extract the list of classes needed by the transformer. We could optimize this by generating a hash of the CSS file and storing that and only generating the class

[2020-05-01 23:49] connecteev commented on #16
@kiliman hope things are well. I'm sure you are well aware of this, but just in case you dont know, Adam recently released 1.4 in which the postcss config will be integrated into the tailwind config itself: https://tailwindcss.com/docs/release-notes#tailwind-css-v1-4

[2020-05-02 12:32] connecteev commented on #23
@GregBrimble this workflow looks amazing, but I'm having trouble setting this up and testing that it works.

- I created a private repo with secrets for TAILWINDUI_EMAIL and TAILWINDUI_PASSWORD
- I also created a .github/workflows/default.yml file based on the example at https://github.com/GregBrimble/tailwindui-crawler-action

[code]
- I then set up github notifications for my private repository.

[2020-05-02 12:47] #20 closed

[2020-05-02 15:19] GregBrimble commented on #23
Hi @connecteev , I've answered you over on the action repo: https://github.com/GregBrimble/tailwindui-crawler-action/issues/5.

[2020-05-02 17:30] connecteev commented on #23
thanks @GregBrimble, I got it to work!

[2020-05-02 17:32] GregBrimble commented on #23
Amazing @connecteev ! What was the trick?

[2020-05-02 17:39] connecteev commented on #23
@GregBrimble no trick - your instructions in the readme were correct! It was a mistake on my part...thank you!

[2020-05-04 15:56] impulse opened #27 "[Bug] Crawling seems broken (empty body tags)"
HTML output without using any transformer:
[code]

[2020-05-04 18:46] kiliman commented on #27
I saw your post on Discord. I tried using your config as well as removing transformers and I got the correct files output. Did you download a release or clone the repo? Let's make sure you have the latest, then we can troubleshoot further. I want to make sure it works for you.

Thanks!

[2020-05-04 19:34] impulse commented on #27
Seems to be working now. Maybe there is a latency issue?

[2020-05-04 20:17] kiliman commented on #27
I'm not sure what you mean by latency? I simply use `await fetch()` so would assume that it would throw if it timed out. Anyway, let me know if it happens again and we could log the response.

[2020-05-04 20:17] #27 closed

[2020-05-04 20:46] kiliman opened #28 "New Version 3 ideas"
Just posting this here to put down my thoughts on what the next version of the crawler will be. Calling this v3, since it will have some breaking changes.

* Always store the original interactive (alpine JS) versions and HTML comment version regardless of transformers. This is to ensure that we can still display the component properly locally (offline). Also, Adam adds additional markup around the

[2020-05-04 20:55] kiliman commented on #28
* Add support for tracking changes of components. Show which components were changed by viewing the git logs (add support to auto-commit diffs after crawling).
* Add support to notify user when a custom (derived) component changes in Tailwind UI. That is, let's say you are using the Notification component from Tailwind UI, and create a React version. The crawler should tell you whenever that compo

[2020-05-04 23:55] connecteev commented on #28
@kiliman these are all 🔥. Thanks for your work with this repo - I am especially excited about these features below and can't wait to use this.

- Finish up transformers for adding transition support for Vue and React (esp Vue in my case)
- Always store the original interactive (alpine JS) versions and HTML comment version regardless of transformers
- Add support for tracking changes of components

[2020-05-10 15:38] connecteev opened #29 "Styling issues and inconsistencies after crawler completes"
I'm not sure if it's just me, but I'm seeing quite a few inconsistencies between the tailwindui code and the one the crawler creates.

1. Comparing https://tailwindui.com/components/application-ui/forms/form-layouts
What I SHOULD be seeing: https://www.webpagescreenshot.info/#v2=2W7aOzUVq
What I am seeing (on localhost): https://www.webpagescreenshot.info/#v2=eKFvEvtOY

2. Comparing https://tailwi

[2020-05-10 17:01] kiliman commented on #29
Yes, there is an issue with the current version of the crawler. The main problem is that the "preview" version on TailwindUI.com isn't an exact copy of the component source. That is, Adam adds some additional markup (including AlpineJS) to make the component look better for preview.

The current crawler pulls either the preview version or HTML comments version depending on HTMLMODE  and tries to s

[2020-05-10 17:55] connecteev commented on #29
@kiliman thank you for the detailed response, makes a lot of sense.

I'm just confused why Adam had to do this in the first place.

In any case, the new v3 screenshots look great! Any idea when it will be released (or maybe perhaps this fix)? Thanks!

[2020-05-10 21:02] kiliman commented on #29
People were complaining about having to remove the AlpineJS code when converting to React, Vue, etc. Also, apparently the AlpineJS isn't fully accessible, so people were complaining about that it not being "best practice" etc. So Adam just decided to ditch it altogether and only use it to show interactivity in preview. People are always complaining about one thing or another. That's why we can't h

[2020-05-10 22:37] connecteev commented on #29
I agree!

@kiliman v3 sounds awesome. Can't wait to start using it :)

[2020-05-13 14:43] kiliman commented on #28
@vesper8 I noticed you posted an issue on https://tailwind.run repo about providing source... well since they haven't done it yet, I'm working on a new project: https://twfiddle.app

https://github.com/kiliman/twfiddle

The main thing I want to implement is the ability to save files linked to your profile. I will most likely use GitHub gists, so we get versioning as well.

Anyway, feel free to pos

[2020-05-16 21:49] connecteev commented on #23
@kiliman sorry to "bug" you with this, but I've been using @GregBrimble 's excellent github action which makes use of this repo to auto-build tailwindui. I am wondering if you have an idea why his action doesn't work when I add the prefixClasses transformer to the env. It only works if you get tailwind.css from the CDN. Here's the issue I am seeing: https://github.com/GregBrimble/tailwindui-crawle

[2020-05-30 13:45] connecteev opened #30 ""Automatically keep private github repository up-to-date" does not work (no tailwind.css file created) with prefixClasses enabled"
No css file is created if you have the tw- prefix enabled and use the github action to automatically keep a private github repository up-to-date.

It does build periodically, and the code gets checked into the private git repo, but there is no .css file created, so when you run ``` npx serve```, the pages look broken.

The Main page at http://localhost:5000/ looks ok:
https://www.webpagescreenshot

[2020-05-30 14:22] connecteev commented on #30
I forgot that the .css file does not yet get auto-created. So, this is related to https://github.com/kiliman/tailwindui-crawler/issues/16

[2020-07-06 03:08] ziming opened #31 "BUILDINDEX=1 not working?"
Not sure what I am doing wrong.

I had BUILDINDEX=1 but there is no index.html generated.

Did I do anything wrong?

Update okay i figured it out. Please delete this issue.

[2020-07-06 03:27] #31 closed

[2020-07-20 03:56] benkraus commented on #27
@impulse you don't recall anything you did to get it working, did you? I'm having this exact same problem :(

[2020-07-20 04:40] impulse commented on #27
It worked again after a while with no changes. Still not sure where the problem was.

[2020-07-20 12:49] kiliman commented on #27
Since I'm scraping an external site, it's possible the Tailwind UI site was having a temporary issue at the time.

[2020-07-21 19:55] narwy opened #33 "Blank vue components"
[code]

Is generating blank vue components as:
[code]

[2020-07-22 05:44] rodrigobello commented on #33
I believe the `alpine|comments` in `HTMLMODE` means the variable should be either _alpine_ or _comments_, not sure if it's a valid entry.

[2020-07-22 13:19] kiliman commented on #33
Yes, true. HTMLMODE should be "alpine" OR "comments"

This determines whether the crawler processes the comments only mode, or uses the "preview" code with the AlpineJS included. For Vue, I would go with alpine, since they are pretty compatible.

[2020-08-16 14:01] #33 closed

[2020-08-20 12:18] divine commented on #29
@kiliman any update on v3?

Thanks!

[2020-09-19 15:02] Yahav opened #36 "Error: ENOENT: no such file or directory, open 'outputmailto:support@tailwindui.com?subject=Upgrade to get Marketing/index.html"
FOR FUTURE REFERENCE:
Package seem to be broken when your license doesn't have the marketing components as well.
To quickly fix it in those situations modify:index.js:167 to:
`    const links = $('#product-application-ui .grid a.block.group')`

[2020-09-19 15:02] #36 closed

[2020-09-19 15:55] joveice commented on #27
I have the same issue, have ran it multiple times with and without transformers and all the tags are empty and no code. Just cloned the repo (master).

[2020-10-08 12:48] yabdab opened #37 "Error: ENOENT: no such file or directory, mkdir ..."
This ran good the first time, now it fails every time with this error ...

[code]
The output folder is empty.
The dir permissions are 777 so that is not the issue.

[2020-10-08 12:56] yabdab commented on #37
Looks like it does not write the directories in order?

[2020-10-08 12:57] kiliman commented on #37
Hmm... I just tried it and it worked fine for me. What is your config? Also, what happens if you call

`mkdir -p ./output/components/marketing/sections/heroes`

The `-p` creates all the intermediate folders like the API call.

![image](https://user-images.githubusercontent.com/47168/95461233-f868ab00-0943-11eb-93e6-28e795737592.png)

[2020-10-08 13:03] yabdab commented on #37
[code]

Running mkdir -p works fine

I just added the missing folders manually and the crawler worked without issue.

 ¯\_(ツ)_/¯

[2020-11-18 05:47] josephmasongsong commented on #37
Any update on this? I am having the same issue?
Thanks in advance

[2020-11-18 15:23] kiliman commented on #37
Looks like it may be a node issue. I'll figure out a workaround. Thanks!

https://github.com/nodejs/node/issues/27293

[2020-11-24 11:12] sbilde opened #38 "CSS not applied"
Thanks for this great contribution.
When yarn is done, the output looks pretty okay regarding file-structure, however,This something is missing I guess:

This is the .env file: https://d.pr/i/dnmiw8

This is the output: https://d.pr/i/n6TnuX

This is the output in browser (using Serve): https://d.pr/i/cnBQwm

It looks like the CSS is not applied. - As I understand, it defaults to TailwindCSS CDN i

[2020-12-04 09:36] smeijer commented on #38
Same, it looks like the stylesheets aren't injected in the demo iframes. Maybe it's caused by the v2 update?

[2020-12-04 17:24] kiliman commented on #38
I've been busy with work, so haven't had a chance to verify it against the v2 update. I'll play with it over the weekend.

[2020-12-08 17:10] kiliman commented on #38
Ok, sorry for the delay. I looked into this and here are my observations:

1) The crawler now splits the component files separately from the "preview" files. The component files no longer contain the CSS reference as it only outputs the contents of the `<body/>` tag. Make sure `BUILDINDEX=1` to generate the preview.

2) When generating the preview, the default CSS was from the CDN: https://cdn.jsd

[2020-12-12 01:02] pascalandy opened #39 "If you enjoy this project, say thank you!"
Here is the place to say thank you to folks who are working hard on this project.

« One of the greatest ways to show your appreciation to open source projects you enjoy is to open an issue that let people say thank you »

Disclaimer: I don't have any kind of connexion or personal interest with maintainers(s) of this project. Pure gratitude here.

[2020-12-12 01:03] pascalandy commented on #39
So yeah, thank you guys! This rocks and makes me confident about the future of the tailwind ecosystem.

[2020-12-12 02:30] kiliman commented on #39
Thanks for the kind comments. 😍

[2020-12-12 16:10] tobkle opened #40 "Always hangs up in different sections without any error"
Is there a trick to run it stable? Or is the crawler outdated meanwhile?
Has anyone tried with current version of tailwind ui site?

Running with
[code]

Process hangs up always in one of the first 4 marketing sections.

[2020-12-12 21:18] tobkle commented on #40
Also in the debugger I cannot find the problem. It sometimes hangs during ```const html = response.text()``` without raising an error.

Then I decided to change to puppeteer instead. With that changed version it worked for me:
[https://github.com/tobkle/tailwindui-crawler.git](https://github.com/tobkle/tailwindui-crawler.git)

[2020-12-12 21:18] #40 closed

[2021-01-08 19:19] domipoppe opened #41 "Crawler hangs on download or throws ETIMEDOUT error"
Hello,

I have the issue that the crawler randomly stops forever after crawling a couple of components. What is the issue?

![grafik](https://user-images.githubusercontent.com/2047278/104055268-c3901c80-51ee-11eb-95dc-ab8937ff2ab4.png)

Regards,

[2021-01-21 05:35] Julianwan commented on #9
Also want to say thank you :)

Is there a method for pulling the 'free' components if we don't have a Tailwind UI login?

[2021-01-21 14:58] kiliman commented on #9
@Julianwan thanks!

Funny you should ask. The initial version of the crawler didn't verify if you actually logged in properly and it would start crawling the default page which had the "free" components. I added the login check in #3.

I supposed I could make it an option. But you can also just remove the login check from index.js. See https://github.com/kiliman/tailwindui-crawler/commit/618de6e37

[2021-01-22 07:07] Julianwan commented on #9
Nice! Thank you @kiliman ! That's awesome!

[2021-02-12 17:19] rbridge opened #42 "Preview Header on Safari Broken Height"
Not sure if this would even be the right place for this, but I'm seeing some strange behavior when browsing the index pages for components after generating.

When using Safari there seems to be some really strange behavior going on with the `h-full` class on the vertical spacer.

<img width="1294" alt="Screen Shot 2021-02-12 at 9 13 27 AM" src="https://user-images.githubusercontent.com/916258/1077

[2021-02-12 19:11] kiliman commented on #42
That is very odd. I'm seeing the same behavior.

I tried to re-create the issue on Tailwind Play, but it actually works on Safari there.

https://play.tailwindcss.com/Vuc5NuYq0w

Anyway, I haven't update the crawler in a while. I need to ensure it works properly with TailwindUI v2.x

![image](https://user-images.githubusercontent.com/47168/107811314-f6708780-6d3b-11eb-91d5-745a1ffa7a41.png)

[2021-02-12 20:52] rbridge commented on #42
Glad to see I haven't completely lost it. That said it wouldn't be hard to define the height of that element, but just seemed strange that the behavior was inconsistent.

[2021-03-11 04:49] scottwater opened #43 "Components.popover?"
I just synced TailwindUI for a fist time in a while it looks like I am missing a reference for Components.popover (at least in flyover's simple)

Is there a library I need to add now in addition to Aplinejs?

Thanks.

[2021-03-12 23:59] kiliman commented on #43
Hi @scottwater can you provide a little more detail? What component are you referring to?

Also, is this the preview page you're asking about or the final transformed component?

[2021-03-13 04:12] scottwater commented on #43
Sorry for the crappy bug report.

Here are the steps and the results:

1. Grab latest from tailindui-crawler
2. yarn start
3. starter a server in the output directory
4. Grab the code for the "simple" flyout menu

Here are my configuration settings (minus email/password)

[code]

The output it generated is the following. Note the `Components.popover` on the third line.  Looking at the live source

[2021-03-13 14:10] kiliman commented on #43
Ah, thanks. Now I understand. The current version of the HTML preview is busted. Because Tailwind Labs doesn't expect you to use the preview code directly, it's not a 100% translation from the design HTML. They added Alpine.js to show an example of how to use it interactively. They are relying on custom components that they import into their preview to support this that are not a part of TailwindU

[2021-03-13 14:20] kiliman commented on #43
With the new preview code, it works as intended.

![image](https://user-images.githubusercontent.com/47168/111032949-d1277580-83dc-11eb-86d6-b0f3c148acac.png)

After clicking, menu now toggles and fades in and out.

![image](https://user-images.githubusercontent.com/47168/111032977-ebf9ea00-83dc-11eb-8468-fd31ad8aa7c7.png)

[2021-03-16 23:19] kiliman commented on #43
I've been cleaning up the preview section and it now functions the same locally as it does on the TWUI site.

The crawler downloads the js and css referenced in the preview HTML, so it's all served locally.

The new preview even supports resizing by dragging now.

This is fixed in v2.5 5c72189e8efdaf8ce1c01689e4d54eabbd46ca9f

![image](https://user-images.githubusercontent.com/47168/111379396-7828

[2021-03-16 23:19] #43 closed

[2021-03-24 13:54] nichovski opened #44 "npm start error"
Hey guys,

Thanks for this amazing project. I'm not able to start it and check it out.  On npm start I'm getting the following error:
![image](https://user-images.githubusercontent.com/1162068/112321945-c60ff780-8cb0-11eb-9947-f4625744c8a2.png)

Any suggestion is appreciated.

Thanks

[2021-03-24 14:03] kiliman commented on #44
What version of node are you using? That's a more recent syntax (nullish coalescing operator). You can replace `??` with `||`.

[2021-03-24 14:26] nichovski commented on #44
That works. Thanks @kiliman

[2021-03-24 14:26] #44 closed

[2021-03-24 14:32] #42 closed

[2021-04-09 17:54] pascalandy commented on #39
Closed in favor of https://github.com/kiliman/tailwindui-crawler/issues/9

[2021-04-09 17:54] #39 closed

[2021-04-14 17:19] skinnyandbald opened #45 "Update crawler to support new TailwindUI site"
It's previously worked, but ran it today and am getting:

![image](https://user-images.githubusercontent.com/151953/114752227-11537e00-9d24-11eb-9db5-9b69d1320712.png)

hasn't found a single component.

TailwindUI pushed some big updates to their site today, so maybe related to changes they made that broke the crawler? The URL paths seem to still be the same though.

[2021-04-14 19:04] kiliman commented on #45
Yes, this is due to the change in site structure due do the new React/Vue components.

I'm working on updating the crawler.

[2021-04-14 20:30] kiliman commented on #45
Ok, I've got the initial version crawling the new site. I should have this done tomorrow.

![image](https://user-images.githubusercontent.com/47168/114774729-787e2c00-9d3e-11eb-85bd-0a31ee3b6c79.png)

HTML
![image](https://user-images.githubusercontent.com/47168/114774783-8d5abf80-9d3e-11eb-928c-874c36e0fdd2.png)

React
![image](https://user-images.githubusercontent.com/47168/114774853-a3688000-9d

[2021-04-14 22:43] skinnyandbald commented on #45
Ahh cool. Thanks, @kiliman !

[2021-04-14 23:05] #45 closed

[2021-04-15 12:07] heychazza commented on #45
Hey @kiliman - using the github action version, and vue doesn't appear for me?

[2021-04-15 13:23] kiliman commented on #45
@heychazza Someone else created the GitHub Action and I haven't had a chance to test it out with the new version.

I'll take a look.

[2021-04-15 13:25] heychazza commented on #45
Thank you, tried the crawler locally as well and wasn't able to run..

[2021-04-15 13:37] kiliman commented on #45
Just noticed there was a typo in the README. It should be *vue*, not *vuew*. Make sure in the *.env* file it looks like:

[code]

What are you seeing when you run it locally?

[2021-04-15 13:59] kiliman opened #46 "Update GitHub Action to support new crawler v3"
Make sure the action uses the latest version of the crawler, as v2 will not properly parse the updated Tailwind UI site.

/cc @GregBrimble

[2021-04-15 13:59] kiliman commented on #45
Created new issue for GitHub action #46

[2021-04-15 14:02] kiliman commented on #13
New v3 simply copies the Tailwind UI site locally (includes all css and javascript), so it works exactly like the online version.

Set `BUILDINDEX=1` and it will be stored in `$OUTPUT/preview`

I do update the index file to link to the remote images, so not downloading those.

[2021-04-15 14:02] #13 closed

[2021-04-15 14:07] kiliman commented on #46
That is odd. I just re-ran it (from a clean output folder) and get all the vue components.

NOTE: I did this from a local install. What happens if you run the crawler locally?

![image](https://user-images.githubusercontent.com/47168/114882775-4c13ef80-9dd2-11eb-8d83-76edbd98fb66.png)

[2021-04-15 14:10] ademers commented on #46
Was using my existing private repo. Maybe it's best I start over from scratch.

[2021-04-15 14:27] heychazza commented on #45
It only runs html and react.. really odd

[2021-04-15 14:28] heychazza commented on #46
I was also using my existing repo and got same results, will give it a shot with a clean repo later..

[2021-04-15 14:29] GregBrimble commented on #46
I'm currently just pulling the latest changes and figuring out what (if any) changes need to be made :) Gimme about 30 mins – 1 hour, and I should have it all working and updated.

[2021-04-15 15:53] GregBrimble commented on #46
New v1.1.0 release has been published: https://github.com/marketplace/actions/crawl-tailwind-ui

Just update your workflow files from

[code]

That should be all that's required for old repositories with a `master` default branch. If you're using a new repository, or have changed your default branch, you'll need to specify `branch` like so:

[code]

I'll update this project's README.md in just a c

[2021-04-15 18:01] kiliman commented on #46
Hmm... first time trying the Action and I'm seeing the following:

If I choose 'alpine' for languages, I'm saving the preview HTML. However, I'm getting different results when running locally vs running in the action. It's auto-closing tags and stripping HTML entities. Red is local version and green is from action.

I'm not sure why it would return different HTML. Unfortunately the action version

[2021-04-15 18:03] #46 closed

[2021-04-15 18:40] kiliman commented on #46
I updated the package versions (pushed as v3.1.3) and it now works properly on the GitHub Action.

Thanks for taking care of this!

[2021-04-16 07:31] heychazza commented on #46
Morning both,

Had an issue originally which was fixed by creating a new repo (very strange). However I have now tried again, and its only creating the html version..

Using the TailwindUI Crawler.

**.env**
[code]

**.github/workflows/default.yml**
[code]

![image](https://user-images.githubusercontent.com/47271716/114988193-f56beb80-9e8d-11eb-9d3e-8b067ce4e305.png)

Also, weirdly it's using "roo

[2021-04-16 07:43] GregBrimble commented on #46
@heychazza , try also adding `current_branch: main` as well as `branch: main`.

You're seeing html only because that's the crawler default, and it's not picking up the `.env` in the `current_branch` which defaults to `master`.

Sorry, I should have made that clearer.

[2021-04-16 07:46] heychazza commented on #46
You're a star! Thank you so much :)

It runs (I ended up just using a new repo aha), however Alpine version is non existent though the others have (html, vue and react).

Maybe more of a issue with the crawler itself rather than the action? Once again, thanks to you both a ton for building these and being fast with responses 👍

[2021-04-16 07:59] GregBrimble commented on #46
Do you pin the crawler version with `crawlerref`? I think Alpine support was added as a new release. By default, my Action should be pulling `master`.

Can you reproduce locally with that exact same `.env` file?

[2021-04-16 08:05] heychazza commented on #46
Hey buddy,

**.env**
[code]

workflow:
[code]

I don't currently use `crawlerref`

[2021-04-16 08:14] GregBrimble commented on #46
@heychazza , I can't reproduce. Alpine components get pulled as expected for me. Any chance you can share your repo with me so I can take a look at the Action logs, and whatever else might help us find out why this isn't working for you?

[2021-04-16 08:34] heychazza commented on #46
Hey @GregBrimble,

Fixed it by moving `alpine`.. haha..

From..
[code]

To..
[code]

Not sure if Github caches the .env which is the cause here, or the order mattered.

[2021-04-16 08:35] heychazza commented on #46
Ok, so doing that has caused vue to disappear..

[code]

[2021-04-16 08:41] GregBrimble commented on #46
Again, unfortunately can't reproduce. Adding `vue` and `alpine` to `.env` seem to work as expected for me. Can you share your repository with me?

[2021-04-16 08:43] heychazza commented on #46
Do you have both packages with TUI?

[2021-04-16 08:44] GregBrimble commented on #46
Yup.

[2021-04-16 08:46] heychazza commented on #46
Provided you access!

[2021-04-16 08:47] heychazza commented on #46
https://github.com/track/tailwindui.com/invitations

[2021-04-16 09:00] GregBrimble commented on #46
I have no idea why, but:

[code]

Fixed it.

That's gotta be something from the crawler itself, rather than my Action.

[2021-04-16 09:02] GregBrimble commented on #46
Yeah, just locally tested an `.env` which looks like this, and it only pulled Alpine, HTML & React:

[code]

Something about the way the crawler parses the `.env` files, @kiliman ?

[2021-04-16 09:05] heychazza commented on #46
Yeah, seems to only get the first 3 from what it seems..

[2021-04-16 13:03] heychazza commented on #46
https://github.com/motdotla/dotenv/issues/348#issuecomment-454632909

Seems to be an issue currently.. (inline wise)

[2021-04-16 13:43] kiliman commented on #46
Wow, thanks for troubleshooting that.

Yeah, I noticed that inline comments weren't supported in `.env` files when I was testing. I just thought it was common knowledge, and that I was making a dumb assumption. The comments in the examples were more for documentation.

I will update the README to move the comments to a separate line, and also will make note of it in the docs.

Thanks again and I'm

[2021-04-16 13:58] heychazza commented on #46
Haha, tbh mate - I fell for it as well and kept the inline comments (I didn't know! aha). I defo think just moving comments is all thats needed, as I just copy pasted it.

I agree, they are doing so fantastic now, pushing lots of great content all round 👍  Off topic, @adamwathan @steveschoger fantastic work guys (and the team!).

[2021-04-16 14:03] ademers commented on #46
I can confirm that removing the inline comments from the `.env` worked in my existing, and brand new repos.

[code]

Outputs

![CleanShot 2021-04-16 at 10 02 16](https://user-images.githubusercontent.com/901095/115035734-df185c80-9e9a-11eb-9e21-ac076c192fd7.png)

[2021-04-16 14:16] heychazza commented on #46
Hey both, only odd thing I find is..

[code]

If I don't specify this, it outputs the same as the above? Is this a bug that it isn't outputting into the `output` folder?

[2021-04-16 14:21] kiliman commented on #46
Hmm.. the code looks like this:
[code]
If you don't provide `OUTPUT` then it should create a folder called *output* in your current directory, and store everything there: */output/html, /output/react, ...*

So what are you seeing?

In my GitHub Action, I set `OUTPUT=.` because I want it to output into the root of the project.

[2021-04-16 14:29] heychazza commented on #46
So, my **.env** is:
[code]

![image](https://user-images.githubusercontent.com/47271716/115039443-5e705500-9ec8-11eb-858a-9008362a3eb9.png)

It shows as separate folders weirdly.

---

A github action bug as well, it's using "root" with no avatar as the author, shouldn't it be my github account?

[2021-04-16 14:46] kiliman commented on #46
Not sure why it's not creating a top-level *output* folder.

But yes, v3 now creates separate directory trees for each language.

As for the commit user, it's working for me as *kiliman*. I even modified the commit message.

![image](https://user-images.githubusercontent.com/47168/115040896-e9892500-9e9f-11eb-9efb-b36a2960b090.png)

Look at the documentation for the action. You can specify the *ac

[2021-04-16 14:57] heychazza commented on #46
Thanks a ton, will give it a shot now! Any reason why I'm showing as "root" ? I even specified the author to use with the action,

Is there any way I can use v3 or is that the current default?

Will give your .env a shot.

[2021-04-16 15:03] heychazza commented on #46
![image](https://user-images.githubusercontent.com/47271716/115044285-43ecaa80-9ecd-11eb-827d-3b2b8b3dfc6f.png)

Weird, using your exact .env and workflow file but added `OUTPUT=./output` and it's not respecting the path..

[2021-04-16 15:04] kiliman commented on #46
Yeah, everyone must upgrade to the new v3 crawler. The Tailwind UI web site has changed its layout, so the older v2 crawler no longer parses the HTML properly.

This is a risk when "screen-scraping"... always chasing the dragon 🐉

[2021-04-16 15:08] kiliman commented on #46
Check your action log. The crawler will display the current `OUTPUT` folder. Remember, it's relative to the project root, so in this case, I'm running from my `tailwind-crawler` project and want to output to a sibling project folder `tailwindui`

[code]

![image](https://user-images.githubusercontent.com/47168/115044757-d0827300-9ea3-11eb-856c-9c0c56666eb3.png)

[2021-04-16 15:10] heychazza commented on #46
![image](https://user-images.githubusercontent.com/47271716/115045246-3c79d100-9ece-11eb-91ba-20e0ca17411a.png)

Could the author thing be due to it being from an organisation? Even though I did specify `actor` in the action workflow file..

[2021-04-16 15:15] kiliman commented on #46
Hmm... I wonder it there's an issue because it's using `/output` (absolute path) vs `./output` (relative path, notice period)

Although that's what the default should be `./output`, what happens if you explicitly specify `OUTPUT=./output` (make sure to include the leading period)?

[2021-04-16 15:16] heychazza commented on #46
Oddly.. I am..

[code]

[2021-04-16 15:17] kiliman commented on #46
Interesting, I checked my action log and it's also hard coding `/output` despite my `OUTPUT=.`, so this may be the action overriding that setting? @GregBrimble

![image](https://user-images.githubusercontent.com/47168/115046253-420ef100-9ea5-11eb-80b8-2f0c50798498.png)

[2021-04-16 15:19] heychazza commented on #46
I think the action is overriding most options, as for example `actor` still shows me as `root` rather than my username. Perhaps custom options are not being considered?

[2021-04-16 15:22] kiliman commented on #46
Yes, the action is overriding it. Most likely to simplify his scripts for committing, etc. Not sure about the username though.

![image](https://user-images.githubusercontent.com/47168/115046758-d5482680-9ea5-11eb-8ceb-e2adddda7103.png)

[2021-04-16 15:24] heychazza commented on #46
The odd thing is, even so - it's not applying to that output folder, unless the `./output` is needed (like you were mentioning earlier).

[2021-04-16 15:27] kiliman commented on #46
No, I believe he treats the `/output` folder as the root of your repo. It's where he clones the current repo, crawler updates any files, then he commits any changes.

[2021-04-16 15:28] heychazza commented on #46
Ahh that makes sense!

[2021-04-16 15:31] GregBrimble commented on #46
Sorry, just catching up on that conversation now:

- Unless you specify a `crawlerref` input in my GitHub Action, we'll use whatever is on `master` of @kiliman/tailwindui-crawler by default. So you don't need to manually update to v3—that's done automatically.
- If you remove the `actor` option, if defaults to `{{ github.actor }}` which should be you. You can manually override this by specifying `

[2021-04-16 15:43] heychazza commented on #46
I tried this, weirdly failed..

[code]

[2021-04-16 15:53] kiliman commented on #46
It might make more sense to add issues to the Action repo, so Greg can track it easier.

[2021-04-23 14:45] #12 closed

[2021-04-26 11:25] jensolafkoch commented on #41
I have exactly the same problem. At some (very different) point I get an error such as this:

`
⏳  Processing /components/application-ui/headings/page-headings...
‼️   FetchError: request to https://tailwindui.com/components/application-ui/headings/page-headings failed, reason: connect ETIMEDOUT 104.21.24.52:443
    at ClientRequest.<anonymous> (D:\laragon\www\jok-tailwindui-crawler\node_modules\n

[2021-04-26 13:50] kiliman commented on #41
Looks like it is timing out while downloading from Tailwind.

I can add a TIMEOUT option and a RETRY option as well.

[2021-04-26 13:55] jensolafkoch commented on #41
I went the hard way and used the workflow option on GitHub, changed the cron job to every minute and downloaded the complete directory - that works for the time being.

But I guess I won't be the only one experiencing these timeout errors?

Thanks a lot for this package!!

[2021-04-26 13:58] kiliman commented on #41
You can update the GitHub action to run on demand.  Add `workflow dispatch:` under the `on:` key.

![image](https://user-images.githubusercontent.com/47168/116094740-cae01680-a675-11eb-8966-c2cee9a753af.png)

Then you can click on Run Workflow.

![image](https://user-images.githubusercontent.com/47168/116094883-e9461200-a675-11eb-8f5f-7d96895f004e.png)

[2021-04-26 14:00] jensolafkoch commented on #41
Great, thanks!

[2021-04-26 14:52] kiliman commented on #41
@jensolafkoch Can you do me a favor and checkout `features/error-handling` branch?

I added a try/catch around the fetch and some logging. I want to see what the elapsed time from request to error is. That will help me determine what the default timeout value should be.

I ran the crawler on Windows and didn't have an error, so I can't reproduce the problem you're having.

Thanks!

[2021-04-26 16:20] jensolafkoch commented on #41
Well, sorry, still the same with this branch ...

`⏳  Processing /components/application-ui/navigation/breadcrumbs...
❌  Error downloading https://tailwindui.com/components/application-ui/navigation/breadcrumbs
Elapsed time 21020ms
FetchError: request to https://tailwindui.com/components/application-ui/navigation/breadcrumbs failed, reason: connect ETIMEDOUT 172.67.217.20:443
npm ERR! code ELIFECY

[2021-04-26 16:46] kiliman commented on #41
No, that's what I was expecting. I was just curious how long time timeout was. Seems really odd that you're not getting any response with 21 seconds.

Anyway, I added retry logic, so can you pull latest from that branch and try again.

Thanks!

[2021-04-26 16:52] jensolafkoch commented on #41
Does finish now ... thanks again! Glad I could help ... :-)

[2021-04-26 16:56] #41 closed

[2021-04-27 06:08] jensolafkoch opened #49 "Crawler hangs on download or throws ETIMEDOUT error (REVISITED)"
Today, the ETIMEDOUT error was back again. Difference is that I crawled all languages today (instead of just HTML), but I don't think it has anything to do with the timeout, as a lot of directories were processed correctly before:

‼️   FetchError: request to https://tailwindui.com/img/category-thumbnails/sections/content-sections.png failed, reason: connect ETIMEDOUT 172.67.217.20:443
    at Clie

[2021-04-27 07:13] jensolafkoch commented on #49
I believe it hangs when accessing images. Next time it was:

 FetchError: request to https://tailwindui.com/img/category-thumbnails/sections/heroes.png failed,

[2021-04-27 11:31] kiliman commented on #49
Sorry. That’s another place where fetch is called. I’ll add retry logic.

[2021-04-27 12:41] kiliman commented on #49
I refactored the code to use fetchWithRetry everywhere. Please try the latest on `master` branch.

[2021-04-27 13:04] jensolafkoch commented on #49
Both attempts (with just html and then all languages) finished successfully. (FYI: It took a minute or two after the last directory/file was written locally before the "Done" message appeared finally.)

[2021-04-27 14:01] kiliman commented on #49
Yes. If you set BUILDINDEX=1 then the final index.html page also downloads the thumbnails used in the component categories.

![image](https://user-images.githubusercontent.com/47168/116254238-2d511980-a73f-11eb-8e5b-facae591a2da.png)

There are 64 icons there so if your Internet is slow, it may take a while.

Right now it downloads everything all the time. I can add a check to see if the file alre

[2021-04-27 15:02] kiliman commented on #49
Ok, I added support for If-Modified-Since... but it doesn't seem to improve performance all that much since the files are pretty small, it still takes time to make the request.

Anyway, I also include more logging so hopefully you can see what's going on.

Get latest and let me know how it goes for you.

[2021-04-27 18:56] jensolafkoch commented on #49
Looks fine. There are still some long delays (much longer than the ms values shown) so maybe my local dev environment (Windows, with Laragon as kind of XAMPP) has something todo with it? Anyway, as long as it runs till the end, I'm happy! :-)

The messages are cut off, no big deal:

![cutoff](https://user-images.githubusercontent.com/47628003/116296808-f14ba200-a79a-11eb-8426-7b637253da4d.png)

[2021-04-27 19:00] kiliman commented on #49
The time displayed is only showing the last successful one.

I guess I can log when it times out and has to retry. I'm pretty much brute forcing the connection. Keep trying until it's successful or 3 retries.

Yes, I truncated to 80 characters to prevent terminal wrapping since these URLs were getting very long.

[2021-04-27 19:04] jensolafkoch commented on #49
I am absolutely happy as it is - thanks again for your package! :-)

[2021-04-28 04:46] jensolafkoch commented on #49
If you check for existing files, do you also purge files an directories and preview images which are no longer exist? I'm just curious whether to start from scratch every now and then or just update the current tree.

[2021-04-28 14:24] kiliman commented on #49
Not at the moment. But I'm rethinking the process. If you use the GitHub action, it always does a fresh checkout of the target repository. So all the file times will be right now. So when it sends the `If-Modified-Since` header, 99.9% of the time, you'll get a `304 Not Modified` result.

A couple of options.

1. Just always download the latest version, even if the file exists. This was the old beh

[2021-04-28 22:06] kiliman commented on #49
I implemented option 2. It uses etags and will remove any files that are no longer referenced.

[2021-04-29 13:14] kiliman commented on #49
I'm going to close this. Re-open if you experience more timeouts. Thanks!

[2021-04-29 13:14] #49 closed

[2021-07-11 08:26] James4645 opened #53 "Github Action not working"
The Github action to crawl and add it to a private repo isn't working. I copied the yml file exactly. I set the secrets for TAILWINDUI_EMAIL and TAILWINDUI_PASSWORD. Two days in a row now the actions tab showed it ran for about 40s but nothing was added to the repo.

This is what I put in my .env

LANGUAGES=html,react,vue,alpine
BUILDINDEX=1

[2021-07-13 04:26] pngg commented on #53
@James4645  If you're creating a new repository or have updated your default branch from `master`, you will have to specify with [`branch`](https://github.com/GregBrimble/tailwindui-crawler-action/blob/eab4826e59c3011948f7e6f98744d8b8a64e24b8/action.yml#L31) and [`current_branch`](https://github.com/GregBrimble/tailwindui-crawler-action/blob/eab4826e59c3011948f7e6f98744d8b8a64e24b8/action.yml#L27)

[2021-07-13 09:23] James4645 commented on #53
@pngg No, it used Master.

[2021-08-05 14:06] kiliman commented on #29
Cleaning up issues.

Closed. v3.0 was deployed a while ago. It now downloads component files cleanly and a separate preview download which is an exact copy of the Tailwind UI website.

[2021-08-05 14:06] #29 closed

[2021-08-05 14:07] kiliman commented on #37
Cleaning up issues.

I believe this has been resolved. I have not heard of any more complaints.

[2021-08-05 14:07] #37 closed

[2021-08-05 14:08] kiliman commented on #53
Cleaning up issues.

If you are still having problems with the GitHub Action, please reopen.

[2021-08-05 14:08] #53 closed

[2021-08-05 14:09] kiliman commented on #38
Cleaning up issues.

v3.0 now downloads an exact copy of the Tailwind UI site when `BUILDINDEX=1` so there shouldn't be any issues with preview locally.

[2021-08-05 14:09] #38 closed

[2021-08-05 14:10] kiliman commented on #19
Cleaning up issues.

Tailwind UI now provides React and Vue components, so I've removed transformers from the crawler.

[2021-08-05 14:10] #19 closed

[2021-08-11 21:09] cinesoftcentrocuba commented on #9
Thank you @kiliman !!!

[2021-08-20 15:25] jackpxyz opened #54 "Option download figma file"
add option for download de figma file https://tailwindui.com/download-figma

[2021-08-20 17:05] kiliman commented on #54
At the moment, they don't plan on updating the Figma file, so if you download it once, you'll have the latest version.

If they change their policy, I'll consider adding it.

[2021-08-20 17:05] #54 closed

[2021-08-29 09:27] vladislavasemernina opened #55 "Change in HTML layout of component page causes filenames to be wrong"
Example:

**Application UI = > Application Shells** should have the folders inside

1. **Stacked Layouts** (9 components)
2. **Sidebar Layouts** (8 components)
3. **Multi-Column Layouts** (7 components)

But instead of this folders, crawler returns just three html files

https://prnt.sc/1qqd47x

[2021-08-30 13:46] kiliman commented on #55
Can you post the crawler output?

[2021-08-30 20:31] vladislavasemernina commented on #55
` Logging into tailwindui.com...
⏱   284ms (200) https://tailwindui.com/login
✅  Success!

🗂   Output is ./output
⏱   374ms (200) https://tailwindui.com/components
⏳  Processing /components/marketing/sections/heroes...
⏱   199ms (200) https://tailwindui.com/components/marketing/sections/heroes
🔍  Found 9 components
📝  Writing html heroes.html
📝  Writing react heroes.jsx
📝  Writing vue heroes.vue
📝

[2021-08-30 22:18] kiliman commented on #55
Looks like Tailwind UI made a change to their pages around 8/26.

Here's what it looked like on 8/25. Notice how each component is in a separate file by component name.

[code]

On 8/26, it's now only saving each component by category name over and over.
[code]

Thanks for letting me know. I'll fix it.

[2021-08-30 22:30] kiliman commented on #55
Fixed in v3.2.1 4d727e0800805464de855fbe0cb289afce0d99a4

[2021-08-31 09:18] vladislavasemernina commented on #55
@kiliman Thank you. It's working now

[2021-08-31 14:53] #55 closed

[2021-09-28 00:47] stoqe opened #57 "thankyou X 10 million! 🤩🙏🏾"
i too just wanted to say thank you for making this, and for making it available... 🤩🙏🏾

[2022-02-05 12:08] jensolafkoch opened #60 "Abort with "RangeError: Maximum call stack size exceeded""
When I run the crawler I now get the following error:

[code]

Is there anything I can do here?

[2022-02-05 15:54] kiliman commented on #60
I have it running automatically every day via GitHub actions so I didn't notice this error.

There must be something in this component file that the HTML parser doesn't like. I'll take a look at it. Thanks for the heads up.

[2022-02-05 23:54] VIEWVIEWVIEW commented on #60
Seems to happen due to alpine for the calendar. When I'm only saving react/vue it works fine :)

[2022-02-07 16:49] #60 closed

[2022-02-15 01:07] bluengreen commented on #57
I concur!!! Thank you so much!!

[2022-04-07 20:49] Benoit1980 opened #62 "Are you sure this package still works?"
Hi,

I tried to download the Alpine js versions:
# OUTPUT optional, defaults to ./output
OUTPUT=./output
LANGUAGES=alpine
BUILDINDEX=1

But all the layouts are broken. Any index file I click bring me to "Your file couldn’t be accessedIt may have been moved, edited, or deleted."

And any index.html files with a component brings me to a broken layout.
ERR_FILE_NOT_FOUND
![Screenshot 2022-04-07 22475

[2022-04-07 21:29] kiliman commented on #62
The generated Alpine files are not meant to be viewable as a standalone page.

You need to embed the HTML into your app which has Tailwind CSS and alpine.js already imported.

If you want to "preview" the components locally, then you need to cd into the $OUTPUT/preview folder and run the `serve` command. Then you can view the components as you can on the Tailwind UI web site.

[2022-04-08 18:40] Benoit1980 commented on #62
Oh I see.. :-) My mistake! Thank you so much!

[2022-04-08 18:40] #62 closed

[2022-06-05 20:59] Otienoh opened #63 "Does not load the application & ecommerce files on the editor"
Thanks,
After the last tailwind update when they released the Ecommerce page the theme editor seems to only open the Marketing files. It does not load the application & e-commerce files on the editor.

Yes, I have followed the instructions keenly not sure what I missed because last time it just worked. thanks

<img width="372" alt="image" src="https://user-images.githubusercontent.com/8632640/1720

[2022-06-05 21:01] kiliman commented on #63
Thanks I’ll take a look. I’m pretty sure it was working for me.

Can you post your config (remove your account info of course)?

[2022-06-06 00:04] Otienoh commented on #63
Sorry I just realized this was supposed to be a ticket for shuffle 🤦🏾‍♂️

I will close it now and reach out to them via email.

Thanks

[2022-06-06 00:04] #63 closed

[2022-06-07 14:14] vanenshi opened #64 "419 error on login"
hey guys, I am getting 419 error on the response from login
any idea how to fix that?

[2022-06-10 09:42] lampenmeister commented on #64
Same Problem...

[2022-06-10 09:47] vanenshi commented on #64
@kiliman Thank you for this great library
Let me know if I can help you out

[2022-06-10 14:44] kiliman commented on #64
I got past the login, but it's not loading the component pages properly (acting as if I'm not logged in). I wonder if they are actively trying to prevent the crawler from working.

They've definitely made some changes that are making it hard to do.

[2022-06-10 19:19] kiliman commented on #64
I'm stumped. If I copy the cookies from Chrome Dev Tools and fetch, it works fine. But if I get the cookies from `set-cookie` headers, it fails. Same with cURL. I copy the cookies and it works. But if I use the cookies from the fetch, it fails.

The cookies look the same, (same format, different values), but it's not working :(

[2022-06-23 17:37] kiliman commented on #64
I figured out the issue but working on a solution. I don’t think it was a deliberate block because I’m still able to download if I manually set the required cookies.

[2022-06-23 17:47] akoenig commented on #64
@kiliman Good to hear! Thanks for getting back! Can you elaborate a little bit on the workaround?

[2022-06-23 17:51] kiliman commented on #64
The problem is that node fetch isn’t getting the entire session cookie value. It only returns about 1070 characters but the actual cookie is around 1400 characters. If I use curl or the browser it gets the full cookie. When I copy+paste that cookie in the crawler it works fine.

So need to figure out how to get the full cookie value. I’ve tried multiple node packages and they all have the same iss

[2022-06-23 23:09] kiliman commented on #64
Yup, pretty much. Not sure why node can't read the full cookie. I may need to shell out to curl or something else to fetch the cookies.

[2022-06-27 10:26] harryowens commented on #64
I'm having the same issue after pasting the cookie - 0 components found. Also using the crawler to try to import components to import into shuffle.dev per their recommendation.

[2022-06-27 16:48] #64 closed

[2022-06-27 16:49] kiliman commented on #64
Finally got this problem fixes. They may a lot of changes to the site. In addition to the login issue, they changed how the components are structures.

I also added the ability to download the Page Templates. See the README for details.

Thanks all for your patience.

[2022-07-02 01:00] vesper8 opened #66 "auto-convert templates from React/Next to Vue.. feasible ?"
I just found out that the new templates are React only and all components are written in JSX. I find this really annoying since all my projects are in Vue and thus integrating the templates means a lot of adaptation.

I'm sure you've had a look at the new templates code.. how difficult do you think it might be to transform the .jsx files to .vue SFCs and if not handle a fully working conversion..

[2022-07-02 14:54] #28 closed

[2022-07-02 14:54] #16 closed

[2022-07-02 14:54] #30 closed

[2022-07-28 07:31] amsanket22 opened #71 "fails while fetching ecommerce components - forEach on null"
Writing vue with_image_grid.vue
‼️   TypeError: Cannot read properties of null (reading 'forEach')

<img width="769" alt="Screenshot 2022-07-28 at 12 59 35 PM" src="https://user-images.githubusercontent.com/11029171/181447344-083ccf60-f2bd-4194-a9ab-9d4da079252d.png">

[2022-07-28 13:20] kiliman commented on #71
Are you on the latest version? I just tried it myself and it appears to be working.

<img width="948" alt="image" src="https://user-images.githubusercontent.com/47168/181515197-bed5e576-3de3-4cec-a082-1ebc1e912da9.png">

[2022-08-19 11:19] ALaDST commented on #71
I'm getting the same error as @amsanket22.

During: `Processing /components/ecommerce/components/product-overviews`
After: `Writing vue with_image_grid.vue` -> (Component got be written to output directory)
(it's also the first of the five components that got processed, like in the screenshot of @amsanket22. Not like your screenshot where with_image_grid is the fourth component processed)
`TypeErr

[2022-08-19 13:56] kiliman commented on #71
I'll take a look at this. Yes, the crawler is sensitive to the HTML structure, so any deviations could cause issues.

[2022-08-19 19:08] kiliman commented on #71
I just tested this on Windows 11 and was able to download all components for Vue. I checked the TWUI site and the "With image grid" component does have the Vue code. I wonder if the issue you had was perhaps you were downloading during the middle of them deploying an update. Have you tried it multiple times to see if are still experiencing the same problem?

<img width="1384" alt="image" src="http

[2022-08-29 10:14] ALaDST commented on #71
Hello kiliman,

sorry for my late answer, I was on vacation.

I have tried it more than multiple times, also now and I'm still getting the same error. For debugging I was looking into the code where the error appears. So the component that should be processed has no "snippets". Don't know why this is the case, but that is in the end the problem. I've then printed the JSON.stringify(component) in t

[2022-09-05 18:08] Ennazk commented on #71
I am getting this error because I don't have e-commerce components in my purchase.

[2022-10-19 12:30] key88sf opened #73 "Syntax error?"
[code]

[2022-10-19 12:34] key88sf commented on #73
Looks like there is a minimum `node` version required? I updated to Node 16x and that works now.

[2022-10-19 15:53] kiliman commented on #73
Oops, sorry. It looks like nullish coalescing operator (`??`) is only supported on Node v14.5+. I need to update _package.json_ to specify the version. Thanks!

https://node.green/#ES2020-features--nullish-coalescing-operator-----

[2022-10-19 21:13] #73 closed

[2022-11-06 23:04] termsignal opened #74 "Cannot read property 'replace' of undefined"
<img width="752" alt="Screen Shot 2022-11-06 at 3 04 21 PM" src="https://user-images.githubusercontent.com/93733939/200200166-b0815201-e227-4246-8a5c-a1779b9693da.png">

[2022-11-07 18:24] kiliman commented on #74
Did you create a *.env* file with your email and passoword as outlined in the README?